h1 {
    background-color: black;
    padding: 20px;
    font-family: 'Exo', sans-serif;
    color: lightblue;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    margin: 0px;
}

.vistaTabla{
    text-align: center;
    padding: 6px;
    width: 500px;
    margin-right:auto;
    margin-left:auto;
    
}

h4 {
    background-color: teal;
    padding: 10px;
    margin: 0px;
    
    color: white;
    font-size: 15px;

}

::placeholder {
    color: black;
    text-align: center;
    opacity: 1;
  }

  .th{

    height: 10px;
    text-align: center;/*Alineamos el texto al centro ---th por defecto e
    
    alineado al centro*/
     /* vertical-align: bottom; Alineamos el texto verticalmente hacia abajo*/
    padding: 3px;
    background-color:#215c75;
    color: white;
    border: 3px solid WHITE;
    border-radius: 8px;
    /*border-bottom: 1px solid #ddd;para borde solo horizontal*/
    }
    .td{
      height: 10px;
      width: 30px;
      text-align: center;/*Alineamos el texto al centro ---th por defecto esta alineado al centro*/
       /* vertical-align: bottom; Alineamos el texto verticalmente hacia abajo*/
      padding-left: 10px;
      padding-right: 10px;
      border: 3px solid WHITE;
    
      /*border-bottom: 1px solid #ddd;para borde solo horizontal*/
    }

.th:hover {background-color: black ;color:  lightblue;}/*selector de <tr> para resaltar filas,encabezados de la tabla en el mouse:*/
.tr:nth-child(even) {background-color: white}

.colorI{
    color: #215c75;
  }

  .inline{
    display: inline;
  }

  .SplitPane {
    width: 50%;
    height: 50%;
  }
  
  

  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}





h3{
  background-color:black;
  color:  lightblue;
	padding: 20px;
	text-align: center;
	font-weight: 100;
	font-size: 28px;
  width : 50%;
  margin: 0 auto;
  width:100%;
  font-weight: bold;
  font-family: 'Exo', sans-serif;
}












